.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro img {
    border: 25px solid #000;
    margin: 20px;
    width: 300px;
    height: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}